.buttons {
    display: flex;
    gap: 1rem;
    margin-left: 40px;
}

.btn {
    padding: 0.5rem 1rem;
    background: royalblue;
    color: #fff;
    border-radius: 0.8rem;
    border: none;
    cursor: pointer;
}
